* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

body {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.heading {
  color: black;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.grid-item {
  width: 37.5px;
  height: 37.5px;
  border: 1px solid grey;
  background-color: white;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 15px;
}

.left-div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#range {
  accent-color: black;
  margin-bottom: 30px;
}
